<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookMatch</title>
    <!--FAVICON-->
    <link rel="shortcut icon" href="./img/fav.png" type="image/x-icon">
    <!--Stylesheets-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="./CSS/style.css">
</head>
<body>
    <main>
        <div class="box1-mh col-12" >
            <div class="txt-mh col-6 col-m-12 col-sm-12" >
                <div><h4 class="h4-mh">Objetivo de <i>Bookmatch</i></h4></div>
                <div class="p-mh"><p>En esta página el principal objetivo es que los usuarios puedan interactuar con otras personas para descubrir libros de su parecido interés y que puedan subir los que más los emocionaron.</p></div><br>
                <div><h4 class="h4-mh">¿Cómo ser parte?</h4></div>
                <div class="p-mh"><p>Es muy sencillo! Simplemente vas a la sección "<a class="pa-m" href="books.html">Libros</a>", ubicada en el menú superior y buscás el libro que te guste según tu criterio ¡También podés compartir algun libro de tu interés para que alguien más se divierta!</p></div>
            </div>
            <div class="col-6 col-m-12 col-sm-12" ><img src="./img/home.jpg" alt="" width="100%" ></div>
        </div>
    </main>
    <script src="./JS/main.js"></script>
</body>
</html>