*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    /*background-color: #DE834D;*/
}
a{
    text-decoration-line: none;
}
li{
    list-style: none;
}

/*Header*/
.h-box{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #F0D290;
    padding: 2em 0em 0em;
    background-color: #781D42;
    text-align: center;
}
.h-h1{
    font-style: italic;
    color: #F0D290;
    animation: fadeIn 3s;
}
.h-a{
    color: #F0D290;
    font-size:1.4em;
}
.h-a:hover, .h-a:active{
    background-color:#A3423C;
    color: #F0D290;
}

/*Footer*/
footer{
    left: 0; right: 0;  bottom: 0;
}
.f-box{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #F0D290;
    background-color: #781D42;
    text-align: center;
    padding: 1em 2em;
}
.f-p{
    text-align: justify;
}
.f-pad{
    padding: 1em;
}
.f-icons{
    position: fixed;
    right: 0; bottom: 0;
    padding: 1em 0.7em;
}
.f-icon{
    padding: 0em 0.3em;
}

/*main*/
[class*="h4-"]{font-size:2em;}
[class*="p-"]{font-size:1.4em;}
[class*="box1-"]{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #F0D290;
}
[class*="txt-"]{
    color: #781D42;
}
.pa-m, .pa-m:hover{
    color: #781D42; 
    text-decoration-line: underline;
}

/*Home*/
.txt-mh{
    padding: 3.5em 2em;
}

/*Who*/
.txt-mw{
    padding: 5em 2em;
}

/*Thanks*/
.txt-mt{
    padding: 2em 1em;
}
.h2-mt{
    color: #F0D290;
    background-color: #DE834D;
    font-size: 3em;
    padding: 0.5em 0em 0.5em;
}
.h4-mt{padding: 0.5em 0em;}

/*Animations*/
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/*media queris*/
[class*="col-"]{
    float: left;
}
@media only screen and (min-width: 992px){
    .col-1 {width : 8.33%;} 
    .col-2 {width : 16.66%;}
    .col-3 {width : 25%;}
    .col-4 {width : 33.33%;}
    .col-5 {width : 41.66%;}
    .col-6 {width : 50%}  ;  
    .col-7 {width : 58.33%;}
    .col-8 {width : 66.66%;}
    .col-9 {width : 75%;}
    .col-10 {width : 83.33%;}
    .col-11 {width : 91.66%;}
    .col-12 {width : 100%;}

    /*header*/
    .h-a{padding: 1em 0em;}
    .h-box{position: fixed; top: 0; left: 0; right: 0;}
    /*footer*/
    .f-imgCaC{padding: 2.5em 0em 0em;}
    /*main*/
    [class*="box1-"]{padding: 10em 0em 0em; }
}
@media only screen and (max-width: 992px){
    .col-m-1 {width : 8.33%;} 
    .col-m-2 {width : 16.66%;}
    .col-m-3 {width : 25%;}
    .col-m-4 {width : 33.33%;}
    .col-m-5 {width : 41.66%;}
    .col-m-6 {width : 50%;}   
    .col-m-7 {width : 58.33%;}
    .col-m-8 {width : 66.66%;}
    .col-m-9 {width : 75%;}
    .col-m-10 {width : 83.33%;}
    .col-m-11 {width : 91.66%;}
    .col-m-12 {width : 100%;}
    
    /*header*/
    .h-a{padding: 1em 0em;}
    .h-box{position:absolute ;top: 0; left: 0; right: 0;}
    /*footer*/
    .f-imgCaC{padding: 2.5em 0em 0em;}
    /*main*/
    [class*="box1-"]{padding: 9em 0em 0em; }
}
@media only screen and (max-width: 600px){
    .col-sm-1 {width : 8.33%;} 
    .col-sm-2 {width : 16.66%;}
    .col-sm-3 {width : 25%;}
    .col-sm-4 {width : 33.33%;}
    .col-sm-5 {width : 41.66%;}
    .col-sm-6 {width : 50%}  ;  
    .col-sm-7 {width : 58.33%;}
    .col-sm-8 {width : 66.66%;}
    .col-sm-9 {width : 75%;}
    .col-sm-10 {width : 83.33%;}
    .col-sm-11 {width : 91.66%;}
    .col-sm-12 {width : 100%;}
    
    /*header*/
    .h-a{padding: 0.5em 0em;}
    /*footer*/
    .f-imgCaC{padding: 1em 0em 2em;}
    /*main*/
    [class*="box1-"]{padding: 18em 0em 0em; }
}
